doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/message.js')
  title SSNoC - Message
  body
    include includes/navbar.jade
    br
    div#chatbuddy(style="display:none;") #{username}
    if error_messages.length > 0
      each error_message in error_messages
        div.alert.alert-danger#passport_alert= error_message
    form(action='/send_message', method='post')
      each message in messages
        p= message
      p Write a private message to: #{username}
      br
      input(type='textarea', name='content', cols='25', row='5')
      br
      input(type='hidden', name='target', value="#{username}")
      br
      button(type="submit" class="btn btn-info btn-lg" id="sendMessageBtn") Send Message

                    
