doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
    <meta charset="utf-8">
    <!-- Set the viewpor/ot so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='/csspensans.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/monitor.js')
  title SSNoC - Monitor
  body
    include includes/navbar.jade 
    br
    br
    br
    br
    br
    br
    div.container
      p(style='font-size:200%') Measure Performance

      form(action='/startMeasurePerformance', method='post')
        | Desired time (in seconds): 
        input(type='text', name='measurePerformanceTime')
        br
        br
        button(type="submit" class="btn btn-primary btn-default" id="startMeasurePerformanceButton").col-md-4 Start

      div.col-md-1

      form(action='/stopMeasurePerformance', method='post')
        input(type='hidden', name='serial', value="#{serial}")
        button(type="submit" class="btn btn-primary btn-default" id="stopMeasurePerformanceButton").col-md-4 Stop


      div#serial(style='display: none') #{serial}
      br
      br
      br
      div.well
        p(style='font-weight:bold') Posts:
        p#post_result
        p(style='font-weight:bold') Gets:
        p#get_result
      br
      br
      br

      p(style='font-size:200%') Measure Memory
      form(action='/startMeasureMemory', method='post')
        button(type="submit" class="btn btn-primary btn-default" id="startMeasureMemoryButton").col-md-4 Start

      div.col-md-1

      form(action='/stopMeasureMemory', method='get')
        button(type="submit" class="btn btn-primary btn-default" id="stopMeasureMemoryButton").col-md-4 Stop
      br
      br
      table(style='width: 100%;')
        tr
          th Time Stamp
          th Used Volatile
          th Left Volatile
          th Used Non-Volatile
          th Left Non-Volatile
        each entry in entries ? entries : []
          tr
            td #{entry.timestamp}
            td #{entry.usedVolatile}
            td #{entry.leftVolatile}
            td #{entry.usedNonVolatile}
            td #{entry.leftNonVolatile}
        tr
          td #{timestamp}
          td #{usedVolatile}
          td #{leftVolatile}
          td #{usedNonVolatile}
          td #{leftNonVolatile}



      
