doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
    <meta charset="utf-8">
    <!-- Set the viewpor/ot so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='/csspensans.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')
    script(src='/js/monitor.js')
  title SSNoC - Monitor
  body
    include includes/navbar.jade 
    br
    br
    br
    br
    br
    br
    div.container
      p Measure Performance
    form(action='/startMeasurePerformance', method='post')
      |Enter Time: 
      input(type='text', name='measurePerformanceTime')   
      button(type="submit" class="btn btn-primary btn-sm" id="startMeasurePerformanceButton") Start

  
  body 
<<<<<<< HEAD
    form(action='/stopMeasurePerformance', method='post')
      input(type='hidden', name='serial', value="#{serial}")
      button(type="submit" class="btn btn-primary btn-sm" id="stopMeasurePerformanceButton") Stop
=======
      button(class="btn btn-info btn-lg" id="stopMeasurePerformanceButton") Stop
>>>>>>> branch 'cc' of https://github.com/juanchel/FSEOursNext.git

  div#serial(style='display: none') #{serial}
  p The number of posts per sec is:
  p#post_result
  p The number of gets per sec is:
  p#get_result
  br
  br
  br

  p Measure Memory
  body 
    form(action='/startMeasureMemory', method='post')
      button(type="submit" class="btn btn-primary btn-sm" id="startMeasureMemoryButton") Start Measure Memory
    br

  body
    form(action='/stopMeasureMemory', method='get')
      button(type="submit" class="btn btn-primary btn-sm" id="stopMeasureMemoryButton") Stop Measure Memory
  

  body
    table(style='width: 100%;')
      tr
        th Time Stamp
        th Used Volatile
        th Left Volatile
        th Used Non-Volatile
        th Left Non-Volatile
      each entry in entries ? entries : []
        tr
          td #{entry.timestamp}
          td #{entry.usedVolatile}
          td #{entry.leftVolatile}
          td #{entry.usedNonVolatile}
          td #{entry.leftNonVolatile}
      tr
        td #{timestamp}
        td #{usedVolatile}
        td #{leftVolatile}
        td #{usedNonVolatile}
        td #{leftNonVolatile}



      
